.container {
    padding-top: 50px;

    .MuiTablePagination-toolbar {
        flex-direction: row !important;
        align-items: center !important;
    }

    .MuiTablePagination-displayedRows,
    .MuiTablePagination-selectLabel {
        margin: 0 !important;
    }

    .MuiDataGrid-columnHeaders {
        background-color: #968d8d !important;
        color: #fff !important;
        font-weight: bold !important;
        font-size: 15px !important;
    }

    .MuiDataGrid-columnSeparator {
        display: none !important;
    }

    /* Bỏ viền focus khi chọn cell */
    .MuiDataGrid-cell:focus,
    .MuiDataGrid-cell:focus-within {
        outline: none !important;
    }

    /* Bỏ viền focus khi chọn header */
    .MuiDataGrid-columnHeader:focus,
    .MuiDataGrid-columnHeader:focus-within {
        outline: none !important;
    }

    .MuiDataGrid-columnHeaderTitle {
        text-align: center !important;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
    }
}